#createCharacterDiv {
    text-align: center;
    background-image: url(forest.jpg);
    background-size: 100% 100%;
}

#playDiv {
    background-image: url(forest.jpg);
    background-size: 100% 100%;
    
}

#charDivPosition {
    position: fixed;
    top: 300;
}

.width {
    width: 250;
    height: 30;
}

.textStyleCharDiv {
    font-family: 'Courier New', Courier, monospace;
    font-size: 19;
}

.bagTable {    
    position: fixed;
    bottom: 10;
    right: 10;
    border-collapse: collapse;
    border: 1px solid white;
    background-color: burlywood;
    width: 200px;
    height: 200px;
    empty-cells: show;
}

.shopTable {
    position: fixed;
    bottom: 10;
    left: 10;
    border-collapse: collapse;
    border: 1px solid white;
    background-color: burlywood;
    width: 250px;
    height: 300px;
    empty-cells: show;
}

.shopMenu {
    width: 70;
    position: fixed;
    left: 25%;
    top: 50%;
    opacity: 0.8;
}

.shopMenu a {
    background-color: #eee;
    color: black;
    display: block;
    padding: 12px;
    text-decoration: none;
}

.shopMenu a:hover {
    background-color: #ccc;
}

.shopMenu a.active {
    background-color: grey;
    color: white;
}

div {
    width: 100%;
    height: 100%;
}

.gameTextStyle {
    background-color: white;
    opacity: 0.5;
    color: black;
    font-size: 19;
    font-weight: bold;  
    text-align: left;   
    position: fixed;
    left: 30%;
    width: 800px;
    top: 30%;
    resize: none;
}

#bag td, th {
  border: 1px solid white;
}

#shop td, th {
    border: 1px solid white;
  }

.movementButton {
    width: 60px;
    height: 60px;
    position: fixed;
}

#northButton {
    left: 50%;
    bottom: 15%;
}

#westButton {
    left: 46%;
    bottom: 7%;
}

#eastButton {
    left: 54%;
    bottom: 7%;
}

#southButton {
    left: 50%;
    bottom: 7%;
}

#showhidebag {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15;
    position: fixed;
    width: 100px;
    height: 30px;
    bottom: 215;
    right: 10;
    border: 1px solid black;
}

#playDiv p {
    color: aliceblue;
    font-size: 19;
}